{{#each adverts}}
<div id="{{id}}" class="advert-detail-map">
    <div class="col-xs-12 col-sm-12 col-md-12 disable_padding map-result-image">
        <div class="map-advertphoto">
            <img class="photoadvert" src="{{#image images.image.url 250 200 }} {{/image}}"/>
        </div>
        <div class="col-md-12 map-result-price">{{price}} TL</div>
        <div style="display:none;" class="map-result-profilecontainer text-center">
            <img alt="profile-photo" class="map-result-profileimage" src="{{#image user.photo 60 60 }} {{/image}}"/>
            <h2 class="map-result-profilename">{{user.fullname}}</h2>
        </div>
    </div>
    <div class="col-md-12 map-result-comments">
        <div class="col-md-6 disable_padding text-left">
            <i class="fa fa-comment-o"></i> {{comment_size}}
        </div>
        <div class="col-md-6 disable_padding text-right">
            <i class="fa fa-eye"></i> {{views}}
        </div>
    </div>
    <div class="col-xs-12  advert-detail-map-footer">
        <div class="city-town">{{city.name}}/{{town.name}} </div>
        <div style="display:none;" class="map-result-shortdesc">
            {{adress}}
        </div>
        <div class="col-xs-12 disable_padding advertbig-icons moffset1">
            <div>
                <span class="badcount"><i class="fa fa-bed"></i><span>{{properties.beds}} Yatak</span></span>
                <span class="visitorcount"><i class="fa fa-users"></i> <span>{{properties.visitor}} Misafir</span></span>
                <span class="adverttype"><i class="fa fa-home"></i> <span>{{advert_type.name}}</span></span>
            </div>
        </div>
    </div>
</div>
{{/each}}
