<div class="container ">
    <div class="col-xs-12 disable_padding details_container ">
        <div class="col-xs-12 col-sm-12 col-md-3 rezervation-owner-detail">
            <img alt="photo" src='{{#image user_information.photo 150 150 }} {{/image}}' onerror="this.onerror=null;this.src='/theme/img/no-photo.png';" class="rezervation-detail-photo"></img>
            <span class="rezervation-detail-name">{{user_information.fullname}}</span>
            <span class="rezervation-detail-phone"><i class="fa fa-mobile"></i> {{user_information.gsm}}</span>
            <div style="clear: both"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 disable_padding text-center">
                {{#if state}}
                    <span class="rezervation-detail-state approved">Onaylandı.</span>
                {{else}}
                    {{#if is_cancel}}
                        {{#if is_cancel}}<span class="rezervation-detail-state cancel">İptal Edildi.</span> {{/if}}
                    {{else}}
                        <span class="rezervation-detail-state wait">Onay Bekleniyor.</span>
                    {{/if}}
                {{/if}}
            </div>
            <div class="col-xs-12 col-sm-12 disable_padding text-left">
                <div class="col-xs-6">
                    <span class="rezervation-detial-date"><i class="fa fa-calendar-o"></i> {{date checkin "DD-MM-YYYY" }}</span>
                    <span class="rezervation-detial-date-state">Giriş Tarihi</span>
                </div>
                <span class="rezervation-detial-date"><i class="fa fa-calendar-o"></i> {{date checkout "DD-MM-YYYY" }}</span>
                <span class="rezervation-detial-date-state">Çıkış Tarihi</span>
                <div class="col-xs-6">
                    <span class="rezervation-detial-date"><i class="fa fa-clock-o"></i> {{rezervation_advert.advert.entry_time}}</span>
                    <span class="rezervation-detial-date-state">Giriş Saati</span>
                </div>
                <span class="rezervation-detial-date"><i class="fa fa-clock-o"></i> {{rezervation_advert.advert.exit_time}}</span>
                <span class="rezervation-detial-date-state">Çıkış Saati</span>
            </div>
            <div class="col-xs-12 col-sm-12  disable_padding rezervation-detail-city-container">
                <span class="rezervation-detail-city">{{rezervation_advert.cities.name}} / {{rezervation_advert.towns.name}}</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 disable_padding">
                <a href="javascript:void(0);"  class="default_btn fullwidth message moffset2">Mesaj Gönder</a>
            </div>
            {{#zif advert_owner '==' 'false'}}
                {{#zif is_cancel '==' 'false'}}
                    {{#if is_cancelable}}
                        <div class="col-xs-12 col-sm-12  disable_padding moffset2">
                            <h2 class="bold textupper">Rezervasyon İptal</h2>
                            <p> Rezervasyonu check-in tarihinizden  <b>{{rezervation_advert.advert.cancel_time}}</b>  gün veya daha önce iptal edebilirsiniz.</p>
                            <a class="cancelbtn fullwidth" href="javascript:void(0);"><i class="fa fa-exclamation-circle"></i> Rezervasyonu İptal Et! </a>
                        </div>
                    {{else}}
                    <div class="col-xs-12 col-sm-12  disable_padding moffset2">
                        <h2 class="bold textupper">Rezervasyon İptal Süresi Aşıldı</h2>
                        <p> Bu rezervasyon talebi iptal edilemez.</p>
                    </div>
                    {{/if}}
                {{/zif}}
            {{/zif}}
        </div>


        <div  class="col-xs-12 col-sm-12 col-md-9 rezervation-detail-container">
            {{#if advert_owner}}
                {{#zif updated_date '==' 'false' }}
                <div class="col-xs-12 rezervation-confirm-box">
                    <p>Rezervasyon hemen onaylamak için <strong>Onayla</strong> seçeneğini kullanabilirsiniz. Unutmayın ! İptal edilen rezervasyon onaylanmamaktadır.</p>
                    <p>Rezervasyonu talebini onaylıyor musunuz ? </p>
                    <button class="acceptbtn" href="#">Onayla</button>
                    <button class="cancelbtn" href="#">İptal</button>
                </div>
                {{/zif}}
            {{/if}}
            <div class="col-xs-12 col-sm-4 col-md-4 rezervation-detail-box">
                <span class="rezervation-detail-icon">{{#currency total_price 2 0 }} {{/currency}} TL<i class="fa fa-try "></i> </span>
                Toplam tutar
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 rezervation-detail-box">
                <span class="rezervation-detail-icon">{{days}} Gün <i class="fa fa-calendar"></i> </span>
                Toplam Gün
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 rezervation-detail-box">
                <span class="rezervation-detail-icon">{{visitor}} Misafir <i class="fa fa-bed"></i> </span>
                Toplam Misafir
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 disable_padding rezervation-advert-properties">
                <div class="col-xs-12">
                    <div class="col-xs-12 detail_content_list form-inline">
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Oda Sayısı</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{rezervation_advert.properties.room}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Misafir Kapasitesi:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{rezervation_advert.properties.visitor}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Banyo Sayısı:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{rezervation_advert.properties.bathroom}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Metrekare:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{rezervation_advert.properties.m2}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Yatak Sayısı:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{rezervation_advert.properties.beds}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Yatak Odası:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{rezervation_advert.properties.bedroom}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Giriş Saati:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{advert.entry_time}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Çıkış Saati:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{advert.exit_time}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 moffset2">
                    <div class="col-xs-12 detail_content_list posibility form-inline">
                        {{#if rezervation_advert.possibilities.jacuzzi}}
                            <label><span class="posibility-circle"><i class="fa fa-bath"></i></span> Jakuzi</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.internet}}
                            <label><span class="posibility-circle"><i class="fa fa-wifi"></i></span> İnternet</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.air}}
                        {{/if}}
                        {{#if rezervation_advert.possibilities.tv}}
                            <label><span class="posibility-circle"><i class="fa fa-television"></i></span> TV</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.requiments}}
                            <label><span class="posibility-circle"><i class="fa fa-check"></i></span> Temel İhtiyaç(havlu,sabun vb)</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.heat}}
                            <label><span class="posibility-circle"><i class="fa fa-fire"></i></span> Isıtma</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.kitchen}}
                            <label><span class="posibility-circle"><i class="fa fa-spoon"></i></span> Özel Mutfak</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.gym}}
                            <label><span class="posibility-circle"><i class="fa fa-futbol-o"></i></span> Spor Salonu</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.elevator}}
                            <label><span class="posibility-circle"><i class="fa fa-check"></i></span> Asansör</label>
                        {{/if}}
                        {{#if smoke}}
                            <label><span class="posibility-circle"><i class="fa fa-check"></i></span> Sigara İçilebilir</label>
                        {{/if}}
                        {{#if rezervation_advert.possibilities.pet}}
                            <label><span class="posibility-circle"><i class="fa fa-paw"></i></span> Evcil Hayvan Kabul Edilebilir.</label>
                        {{/if}}
                    </div>
                    <div class="col-xs-12 disable_padding moffset2 bottomset2">
                        <h2>Rezervasyon Notu</h2>
                    {{#if note}}
                        <p>{{note}}</p>
                    {{else}}
                       <p>Rezervasyon notu bulunmamaktadır.</p>
                    {{/if}}
                        <div class="col-xs-12 disable_padding">
                            <h2>Misafirler</h2>
                            <div class="col-xs-12 disable_padding">
                                {{#each visitors}}
                                    <span class="capitalize">{{fullname}}</span> <span class="capitalize">({{gender}})</span> - {{tc}}</div></br>
                                {{/each}}
                            </div>
                        </div>

                    </div>
                </div>
            <div data-zone="images" class="col-xs-12 col-sm-12 col-md-12 disable_padding rezervation-home-images"> </div>
            <div class="col-xs-12 col-sm-12 col-md-12 disable_padding rezervation-home-map">
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>