<div class="heads">
   {{#unless user}}
   <div class="headmenu">
      <div class="head_menu_index2">
         <ul class="head_menu_list_index">
            <li class="helpbtn_menu" >
               <a href="javascript:void(0);">Yardım</a>
               <div class="help_menu">
                  <span class="arrow_menu"><i class="fa fa-caret-up"></i></span>
                  <ul class="helpmenu_list">
                     <li>
                        <ul>
                           <li><a href="/help/ev_sahipligi_nasil_yapabilirim">
                              <i class="fa fa-question"></i> Ev Sahipliği Nasıl Yapabilirim
                              </a>
                           </li>
                           <li><a href="/help/menkule_nedir">
                              <i class="fa fa-question"></i> Menkule Nedir
                              </a>
                           </li>
                           <li><a href="/help/nasil_uye_olabilirim">
                              <i class="fa fa-question"></i>  Nasıl Üye Olabilirim
                              </a>
                           </li>
                           <li><a href="/help/nasil_ilan_eklerim">
                              <i class="fa fa-question"></i> İlan Nasıl Oluşturabilirim
                              </a>
                           </li>
                           <li><a href="/help/rezervasyon_kontrolu">
                              <i class="fa fa-question"></i> Rezervasyon Taleplerini Nerden Kontrol Edebilirim
                              </a>
                           </li>
                           <li><a href="/help/uyelik_iptali">
                              <i class="fa fa-question"></i> Üyeliğimi Nasıl Silebilirim
                              </a>
                           </li>
                           <li class="helpcenter"><a href="/help"><i class="fa fa-info-circle"></i> Yardım Merkezi</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="loginbtn_menu">
               <a href="#">Üye Girişi</a>
            </li>
         </ul>
      </div>
      <div class="head_logo"><a href="/">
         <img alt="logo" src="/assets/logo_white.png" class="logo" /></a>
      </div>
   </div>
   {{else}}
   <div class="headmenu">
      <div class="head_menu">
         <ul class="head_menu_list">
            <li data-zone="alert" class="alert_user newalert-alert-btn"></li>
            <li data-zone="messages" tabindex="-1" class="newmessage-alert-btn"></li>
            <li><a href="javascript:void(0)" class="bigmenu_btn"><i class="fa fa-bars"></i></a></li>
         </ul>
      </div>
      <div class="head_logo"> <a href="/"><img src="/assets/logo_white.png" class="logo" /></a> </div>
   </div>
   {{/unless}}
</div>

{{#if user}}
    <div class='rightbigmenu{{#isOpen}} bigmenu-open{{/isOpen}}' >
        <div class="col-xs-12 text-center">
            <a href="javascript:void(0)" class="closebigmenu">X</a>
        <div class="bigmenu-profile-img"> <a href="/user/account/"><img src="{{#image user.photo 150 150 }} {{/image}}" onerror="this.onerror=null;this.src='/assets/no-photo.png';" alt="profile photos"/></a></div>
            <div class="bigmenu-profile-detail">
                <div class="bigmenu-name">
                    {{#if user.state}}
                        <span class=" activemembericon "></span>
                    {{else}}
                        <span class=" passiveaccounticon"></span>
                    {{/if}} {{user.name}} {{user.lastname}}
                </div>
                <div class="bigmenu-eposta"></div>
                <div class="bigmenu-btn">
                    <a href="/user/account/"><i class="fa fa-user"></i> Hesabım</a>
                    <a href="/logout" class="logoutbtn"><i class="fa fa-power-off"></i>  Oturumu Kapat</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 disable_padding bigmenu-menulist">
            <a href="/user/account">
                <div class="bigmenu-icon"><i class="fa fa-user"></i></div>
                <div class="bigmenu-text">Hesabım</div>
            </a>
            {{#if user.ownershiping}}
                {{#if user.state}}
                    <a class="owneritem"  href="/user/advert">
                        <div class="bigmenu-icon"><i class="fa fa-plus"></i></div>
                        <div class="bigmenu-text">Yeni İlan Oluştur</div>
                    </a>
                {{/if}}
                <a class="owneritem" href="/user/adverts">
                    <div class="bigmenu-icon"><i class="fa fa-home"></i></div>
                    <div class="bigmenu-text">İlanlarım <span class=badges>{{user.advert_count}}</span></div>
                </a>
                <a class="owneritem"  href="/user/advert/calendar">
                    <div class="bigmenu-icon"><i class="fa fa-calendar-o"></i></div>
                    <div class="bigmenu-text">İlan Takvimi</div>
                </a>
            {{else}}
                <a class="ownerstart"  href="javascript:void(0);">
                    <div class="bigmenu-icon"><i class="fa fa-home"></i></div>
                    <div class="bigmenu-text">Ev sahipliği yapmak istiyorum </div>
                </a>
            {{/if}}
            {{#if user.ownershiping}}
                <div class="drop">
                    <div class="bigmenu-icon"><i class="fa fa-ticket"></i></div>
                    <div class="bigmenu-text">Rezervasyon</div>
                    <a class="drop-link" href="/user/rezervations/inbound">
                        <div class="bigmenu-icon"><i class="fa fa-angle-right"></i></div>
                        <div class="bigmenu-text">Gelen Rezervasyonlar</div>
                    </a>
                    <a class="drop-link" href="/user/rezervations/outbound">
                        <div class="bigmenu-icon"><i class="fa fa-angle-right"></i></div>
                        <div class="bigmenu-text">Rezervasyon Taleplerim</div>
                    </a>
                </div>
            {{else}}
                <a href="#">
                    <div class="bigmenu-icon"><i class="fa fa-ticket"></i></div>
                    <div class="bigmenu-text">Rezervasyonlarım</div>
                </a>
            {{/if}}
            <a href="/user/messages">
                <div class="bigmenu-icon"><i class="fa fa-envelope-o"></i></div>
                <div class="bigmenu-text">Mesajlar</div>
            </a>
            <a href="/user/alerts">
                <div class="bigmenu-icon"><i class="fa fa-bell-o"></i></div>
                <div class="bigmenu-text">Bildirimler <span class=badges>{{user.alert_count}}</span></div>
            </a>
            <a href="/logout">
                <div class="bigmenu-icon"><i class="fa fa-power-off"></i></div>
                <div class="bigmenu-text">Oturumu kapat</div>
            </a>
        </div>
    </div>
{{/if}}




