<a href="#">
    <i class="fa fa-envelope-o"></i>
    {{#zif message.length '>' '0'}}
    <span class=messagesize>{{message.length}}</span>
    {{/zif}}
</a>
<div class="messagelist hidden-xs hidden-sm">
    <div class="messagelist-maintitle">
        Mesajlar
    </div>
    <i class="message-upper-arrow fa fa-caret-up"></i>
    <ul>
        {{#each message}}
        <li class='newmessagelist'>
            <a href='/user/messages/{{id}}'> <span class='newmessagelist-photo hidden-xs hidden-sm'>
            <img src='{{#image user.photo 150 150 }} {{/image}}'> </img> </span>
                <span class='newmessagelist-message'><b class="capitalize block">{{message.fullname}} </b> {{message.message}}
                <br/>
                <span class='messagelist-dateicon'> {{fromNow message.date}} </span> </span>
            </a>
        </li>
        {{else}}
            <p class="emptymsg">Yeni bir mesajınız bulunmamaktadır.</p>
        {{/each}}
    </ul>

    <a class="newmessage-all" href="/user/messages/">Tümü</a>
</div>


