<div class="container">
    {{#each adverts}}
        <div data-item="{{advert.id}}" class="list advert col-xs-12">
            <div class='col-xs-3 col-sm-2 col-md-1 photo'> <img alt='photo' src='{{#image image 150 150 }} {{/image}}' /> </div>
            <div class='col-xs-9 col-sm-10 col-md-11 detail'>
                    <div class='col-xs-12 col-sm-12 col-md-12 text'>
                        <h2 class="disable_margin"> {{#if advert.state}}<div class="advert-active"></div> Onaylandı{{/if}}
                            {{#if advert.is_cancel}}<div class="advert-cancel"></div> Onaylanmadı{{/if}}
                            {{#unless advert.state}}
                                {{#unless advert.is_cancel}}
                                    <div class="advert-wait"> </div> Onay Bekleniyor.
                                {{/unless}}
                            {{/unless}}</h2>
                         <h2 class='title'>
                            <a item-data="{{advert.id}}" class="link detail" style="font-weight: 500;">#{{advert.id}}</a>
                            {{advert.title}}
                        </h2>
                        <span class="location block"> {{city.name}} / {{town.name}}  </span>
                        <span class="location block"> {{advert_type.name}} </span>
                    </div>
            </div>
        </div>
    {{/each}}
</div>

