<div class="details_container">
    <!-- IMAGE DETAIL START-->
    <div data-zone="images" class="col-md-12 detail_image_container"></div>
    <!-- IMAGE DETAIL END-->
    <div class="container">
        <!-- PROFILE DETAIL START-->
        <div id="detail_content" class="col-xs-12 col-sm-12 col-md-12 disable_padding detail_content bottomset2">
            <div class="col-xs-12 col-sm-12 col-md-5 disable_padding">
                <div class="col-md-12 col-sm-12  advert-detail-bar disable_padding">
                    <h2 class="active"><a href="#" data-scroll="detail_content">Genel Bakış</a></h2>
                    <h2><a href="#" data-scroll="comments-container">Değerlendirmeler</a></h2>
                    <h2><a href="#" data-scroll="advert_user">Ev Sahibi</a></h2>
                    <h2><a href="#" data-scroll="location">Konum</a></h2>
                </div>
                <div class="col-xs-12 disable_padding">
                    <div class="col-xs-12 col-sm-12 col-md-4 text-center disable_padding">
                        <div class="detail_profile_image">
                            <img src='{{#image user.photo 150 150 }} {{/image}}' alt="Profile" />
                            <br />
                            {{#if user_state}}<span class="active-circle"><i class="fa fa-check"></i></span>{{/if}}
                            <span class="advertdetail-fullname">{{user.fullname}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 disable_padding">
                        <h2 class="advert_title moffset2">{{advert.title}}</h2>
                        <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">
                            <span class="advert_location_detail">{{city.name}} / {{town.name}}</span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-12 disable_padding">
                            <div class="advert-star">
                                <a data-score="1" href="#"></a>
                                <a data-score="2" href="#"></a>
                                <a data-score="3" href="#"></a>
                                <a data-score="4" href="#"></a>
                                <a data-score="5" href="#"></a>
                                <span data-zone="currentscore" class="currentscore">({{advert.score}})</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 text-right">
                <div class="col-xs-12">
                    <div class="col-xs-6 col-sm-6 col-md-3 details_logo">
                        <i class="fa fa-bed"></i>
                        <span class="badcounts">{{properties.beds}} Yatak</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 details_logo">
                        <i class="fa fa-users"></i>
                        <span class="capacity">{{properties.visitor}} Misafir</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 details_logo">
                        <i class="fa fa-home"></i>
                        <span class="adverttypename">{{advert_type.name}}</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 details_logo">
                        <i class="fa fa-try"></i>
                        <span class="pricedetail">{{advert.price}} / Gece</span>
                    </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 small_desc moffset2 text-left">
                    <p>
                        Bu ilan <b> <span class="advertdate">{{date advert.created_date "D MMMM YYYY, dddd"}}</span> </b> tarihinde <b class="profilenamedesc">{{user.fullname}}</b>
                        tarafından  yayınlanmıştır. İlan detayları için sayfayı inceleyiniz.   İlanın yanıltıcı olduğunu düşünüyorsanız lütfen bize <a class="feedback-btn link">geri bildirin.</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- PROFILE DETAIL END-->

        <!-- ADVERT CONTENT START-->
        <div class="col-xs-12 col-sm-12 col-md-4 disable_padding rezervation-form">
            <div class="text-right close-calendar-btn"><a class="close-calendar">X</a></div>
            <div id="calendar"  data-form-element="date" class='col-xs-12 disable_padding disable_border'></div>
            <div class="col-xs-12 col-sm-12 col-md-12 disable_padding moffset2 text-left rez-create-btn">
                <button class="success_btn fullwidth rez-create">Rezervasyon Talebi Gönder </button>
            </div>
            <div data-zone="total_price" class="col-xs-12 col-sm-12 col-md-12 disable_padding moffset2 text-left prices"></div>
            <div class="col-xs-12 min_layover">
                Bu ilan için en az {{advert.min_layover}} gün rezervasyon yapılabilir.
            </div>
        </div>

        <!-- ADVERT DESC START-->
        <div class="col-xs-12 col-sm-12 col-md-8 content_detail_desc">
            <div class="col-xs-12 disable_padding">
                <div class="col-xs-12">
                    <h2 class="detail_content_title bottomset2">Özellikler</h2>
                    <div class="col-xs-12 detail_content_list form-inline">
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Oda</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.room}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Salon</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.hall}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Misafir Kapasitesi</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.visitor}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Banyo</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.bathroom}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Metrekare</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.m2}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Yatak</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.beds}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Yatak Odası</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.bedroom}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Bina Yaşı</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{properties.build_age}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Bulunduğu Kat</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">
                                {{#zif properties.floor '===' '0' }} Zemin Kat {{/zif}}
                                {{#zif properties.floor '===' '-1' }} Kot 1{{/zif}}
                                {{#zif properties.floor '===' '-2' }} Kot 2{{/zif}}
                            </div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Giriş Saati:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{advert.entry_time}}</div>
                        </div>
                        <div class="col-xs-12 property-container disable_padding">
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding">Çıkış Saati:</div>
                            <div class="col-xs-6 col-sm-6 col-md-6 disable_padding text-right">{{advert.exit_time}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 moffset2">
                    <div class="col-xs-12 detail_content_list posibility form-inline">
                        {{#if possibilities.jacuzzi}}
                                <label><span class="posibility-circle"><i class="fa fa-bath"></i></span> Jakuzi</label>
                        {{/if}}
                        {{#if possibilities.internet}}
                                <label><span class="posibility-circle"><i class="fa fa-wifi"></i></span> İnternet</label>
                        {{/if}}
                        {{#if possibilities.air}}
                            <label><span class="posibility-circle"><i class="fa fa-thermometer-empty"></i></span> Klima</label>
                        {{/if}}
                        {{#if possibilities.tv}}
                                <label><span class="posibility-circle"><i class="fa fa-television"></i></span> TV</label>
                        {{/if}}
                        {{#if possibilities.requiments}}
                                <label><span class="posibility-circle"><i class="fa fa-check"></i></span> Temel İhtiyaç(havlu,sabun vb)</label>
                        {{/if}}
                        {{#if possibilities.heat}}
                                <label><span class="posibility-circle"><i class="fa fa-fire"></i></span> Isıtma</label>
                        {{/if}}
                        {{#if possibilities.kitchen}}
                                <label><span class="posibility-circle"><i class="fa fa-spoon"></i></span> Özel Mutfak</label>
                        {{/if}}
                        {{#if possibilities.gym}}
                                <label><span class="posibility-circle"><i class="fa fa-futbol-o"></i></span> Spor Salonu</label>
                        {{/if}}
                        {{#if possibilities.elevator}}
                                <label><span class="posibility-circle"><i class="fa fa-check"></i></span> Asansör</label>
                        {{/if}}
                        {{#if possibilities.smoke}}
                                <label><span class="posibility-circle"><i class="fa fa-fire"></i></span> Sigara İçilebilir</label>
                        {{/if}}
                        {{#if possibilities.pet}}
                                <label><span class="posibility-circle"><i class="fa fa-paw"></i></span> Evcil Hayvan Kabul Edilebilir.</label>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 detaildesc">
                <h2 class="detail_content_title bottomset2 moffset2">Açıklama</h2>
                {{{advert.description}}}
            </div>
        </div>
        <!-- ADVERT DESC END-->
        <div style="clear: both"></div>
    </div>
    <!-- ADVERT LOCATİON START-->
    <div id="location" class="col-xs-12 map">
        <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
    <!-- ADVERT LOCATİON END-->
    <div class="container">
        <!-- ADVERT OWNER DETAIL START-->
        <div id="advert_user" class="col-xs-12 col-sm-12 col-md-2 hidden-xs hidden-sm advert_owner_container text-center moffset4">
            <div class="col-xs-12 disable_padding advert_owner_profile">
                <img src='{{#image user.photo 150 150 }} {{/image}}' alt="Profile Photo">
            </div>
            <div class="col-xs-12 disable_padding profile_name">
                <h2>{{user.fullname}}</h2>
                {{#if user.state}}
                    <a href="javascript:void(0);" class="activeaccount"><i class="fa fa-check"></i> Onaylanmış Kimlik</a>
                {{/if}}
                <p class="advert-no moffset2">İlan Numarası: #{{advert.id}}</p>
                {{#isLogin}} <a class="send-messagebtn link moffset2">Mesaj Gönder</a>{{/isLogin}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 advert_owner_desc moffset3">
            <h2>İlan Sahibi Hakkında</h2>
            <p>İlan sahibi <b> {{date user.created_date "D MMMM YYYY, dddd"}}  </b> tarihiden itibaren menkule.com.tr üyesidir.  menkule.com.tr da yayinlanmış  <b class="profilenamedesc" style="text-transform: uppercase">{{user.fullname}} </b>'ın üyeliği aktif ve onaylanmış profildir. </p>

            {{#notLogged}}

                <p>İlan sahibine mesaj göndermek için öncelikle üye girişi yapmalısınız eğer üye değilseniz hemen kayıt olabilirsiniz.</p>
                <a href="/user/register" class="link moffset2">Hemen kayıt olun.</a>
            {{/notLogged}}
        </div>
        <!-- ADVERT OWNER DETAIL END-->
        <!-- ADVERT COMMENT START-->
        <div id="comments-container" class="col-xs-12  advert_detail_comment_container moffset3">
            <h2 class="detail_content_title bottomset2">Değerlendirmeler ({{get_length comments}})</h2>
            <div data-zone="comments" class="col-xs-12 disable_padding"></div>
        </div>
        {{#isLogin}}
            <div class="col-xs-12 text-right moffset2">
                <button href="javascript:void(0);" class="default_btn comment-btn">Sizde yorum yapın</button>
            </div>
        {{/isLogin}}
        <!-- ADVERT COMMENT END-->
        <!-- ADVERT CONTENT END-->
    </div>
</div>