<div class="container">
    {{#each messages}}
        <div class="message-list-container col-xs-12 disable_padding">
            <a href='/user/messages/{{id}}'>
                <div class='messagelist-container'>
                    <div class='message-container col-xs-2 col-sm-3 col-md-3'>
                        <div class='col-xs-3 hidden-sm hidden-xs'> <img class='message-profile' src='{{#image user.photo 150 150 }} {{/image}}' />
                        </div>
                        <div class='disable_padding col-md-9 col-sm-9 col-xs-2'> <img class='message-profilemobile visible-xs' src='{{#image user.photo 150 150 }} {{/image}}' /> <span class='message-sendername'>{{user.fullname}}</span>
                            <span class='message-date'> {{date date "D MMMM YYYY, dddd" }} </span>
                        </div>
                    </div>
                    <div class='message-text col-xs-10 col-sm-9 col-md-9'>
                            {{#if last_view}} {{else}} <span class="newmessage">yeni</span> {{/if}}
                            <b class="capitalize">{{message.fullname}}:</b> {{message.message}}
                            <span class='message-time'> {{fromNow message.date}} </span>
                    </div>
                </div>
            </a>
            <div class="dropdown-container">
                <a href="#" class="dropdown-btn"></a>
                <ul class="dropdown">
                    <li><a href='/user/messages/{{id}}'><i class="fa fa-envelope-o"></i> Oku</a></li>
                    <li><a data="{{id}}" class="delete-message"><i class="fa fa-trash-o"></i> Sil</a></li>
                </ul>
            </div>
        </div>
        <div style="clear:both"></div>
    {{else}}
        {{{appMessages 'message_not_found'}}}
    {{/each}}
</div>