<div data-zone="rezervation"  class="container">
    <div class="rezervation-container">
        {{#notLogged}}
            <div class="col-xs-12 borderer moffset2 information-container">
                <div class="col-xs-12 login">
                    <h2>Zaten Üyesimisiniz ?</h2>
                    <p>Üyelik kaydınız varsa üye girişi yaparak rezervasyon işleminize devam edebilirsiniz. </br>
                        <a href="#" class="login-btn">Giriş Yap</a>
                    </p>
                </div>
            </div>
        {{/notLogged}}
        <div class="col-xs-12 disable_padding rezervation-form-container">
            <div class="col-xs-12 col-sm-12 col-md-5 moffset2 borderer">
                {{#isLogin}}
                    <div class="col-xs-12 text-center moffset2 disable_padding">
                        <img alt="photo" class="img-responsive photo bottomset2" src="{{#image photo 150 150 }} {{/image}}"/>
                        <span class="activemembericon"></span>
                        <h3 class="inline disable_margin"> <span class="capitalize">{{name}}</span> <span class="uppercase">{{lastname}}</span></h3>
                    </div>
                    <div class="form-group">
                        <label for="ad">E-Posta: </label>
                        <h3 class="disable_margin">{{email}}</h3>
                    </div>
                    <div class="form-group">
                        <label for="ad">Gsm: </label>
                        <h3 class="disable_margin">{{gsm}}</h3>
                    </div>

                    <div class="form-group">
                        <label for="ad">TC No: </label>
                        {{#if identity_no}}
                        <h3 class="disable_margin">{{identity_no}}</h3>
                        {{else}}
                            <p>SN. <span class="capitalize">{{name}}</span> <span class="uppercase">{{lastname}}</span> rezervasyonunuzun onaylanabilmesi için lütfen kimlik numaranızı belirtiniz.</p>
                        <input type="number" data-form-element="identity_no" class="form-control"  mask="00000000000" maxlength="11" value="{{identity_no}}" placeholder="TC kimlik numarası">
                        {{/if}}
                    </div>
                {{/isLogin}}
                {{#notLogged}}
                    <h2>Kişisel Bilgi</h2>
                    <div class="form-group">
                        <label for="ad">Ad </label>
                        <input type="text" data-form-element="name" class="form-control" value="{{name}}" maxlength="90" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <label for="ad">Soyad</label>
                        <input type="text" data-form-element="lastname" class="form-control" value="{{lastname}}" maxlength="90" placeholder="Soyad">
                    </div>
                    <div class="form-group">
                        <label for="eposta">E-Posta</label>
                        <input type="text" data-form-element="email" class="form-control" value="{{email}}" maxlength="120" placeholder="E-Posta">
                    </div>
                    <div class="form-group">
                        <label for="cinsiyet">Cinsiyet</label>
                        <select data-form-element="gender" name="gender" class="form-control">
                            <option value="Bay">Bay</option>
                            <option value="Bayan">Bayan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gsm">GSM No</label>
                        <div class="input-group">
                            <div class="input-group-addon">0</div>
                            <input type="tel" data-form-element="gsm" class="form-control" mask="0000000000" value="{{gsm}}" maxlength="10" placeholder="5550000000 ">
                        </div>
                    </div>
                    <p>Rezervasyonunuzun onaylanabilmesi için lütfen kimlik numaranızı belirtiniz.</p>
                    <div class="form-group">
                        <label for="tc">TC No: </label>
                        <input type="number" data-form-element="identity_no"  mask="00000000000" maxlength="11" class="form-control" placeholder="TC kimlik numarası">
                    </div>

                {{/notLogged}}
                <div class="col-xs-12 bottomset3 visitor-infor-form">
                    <div class="form-group">
                        <h2>Misafir Ekle</h2>
                        <p>Sizinle birlikte konaklayacak misafirler</p>
                    </div>
                    <div data-zone="visitor" class="col-xs-12 disable_padding visitor-list"></div>
                    <a class="fright default_btn add-visitor moffset3">Misafir Ekle</a>
                </div>
                <div class="form-group">
                    <p>Rezervasyon talebiniz ile ilgili varsa notunuzu iletebilirsiniz.</p>
                    <textarea class="form-control" data-form-element="note" rows="5" cols="70" maxlength="255" placeholder="(Maks 255 karakter)"></textarea>
                </div>
                <div class="col-xs-12 disable_padding">
                    {{#if rezervation.cancelable_date}}
                        <p class="cancelable">Bu rezervasyon talebi en geç {{rezervation.cancelable_date}} tarihin de iptal edilebilir.</p>
                    {{else}}
                        <p class="cancelable">Bu rezervasyon talebi iptal edilemez.</p>
                    {{/if}}

                </div>
                <div class="col-xs-12 moffset2 disable_padding">
                    <div class="form-group">
                        <div class="checkbox checkbox-info">
                            <input data-form-element="accept_policy" name="policy" type="checkbox">
                            <label for="policy"><a href="/user/policy" target="_blank">
                                {{#notLogged}} Üyelik Koşullarını</a> ve {{/notLogged}} <a href="/user/policy" target="_blank">Ön Bilgilendirme Formunu</a>  okudum kabul ediyorum.</label>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="rezervation-btn default_btn bottomset1">Devam Et</a>
                </div>
            </div>
            <div data-zone="advert" class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 disable_padding moffset2"></div>

        </div>
    </div>
</div>

