<div class="container">
    <div class="col-xs-12 disable_padding">
        <div class="col-xs-12 col-sm-5 col-md-7 disable_padding">
            <div class="advert-selected list col-xs-12 disable_padding">
                <div class="col-xs-12 disable_padding" id="advert-selected" data-zone="advert-selected"></div>
            </div>
            <div style="clear:both"></div>
            <div id="advert-list" class="col-xs-12 advert-selectlist" data-zone="advert-list"></div>
            <div style="clear:both"></div>
            <div data-zone="selected-advert-detail" class="hidden-xs col-sm-12 col-md-12 advert-selected-detail"></div>
        </div>
        <div class="hidden-xs col-sm-1 col-md-1"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 calendar-container">
            <div id="calendar"></div>

            <div class="col-xs-12 moffset2 bottomset2 disable_padding">
                <div class="col-xs-12 text-right rez-cal-icon-container">
                    <button  style="float:left;" href="javascript:void(0)" class="default_btn update">Tamam</button>
                    <span class="rezerved-msg">Rezerve Edildi</span>
                    <span class="unavailable-msg">Dolu</span>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script id="advert-list-template" type="text/x-handlebars-template">
    {{{{raw-helper}}}}
        {{#each adverts}}
        <div data-index="{{@index}}" class="advert list col-xs-12">
            <div class='col-xs-3 col-sm-2 col-md-2 photo'> <img alt='photo' src='{{#image image 150 150 }} {{/image}}' /> </div>
            <div class='col-xs-9 col-sm-10 col-md-10 detail'>
                <a href='/user/advert/{{advert.id}}'>
                    <div class='col-xs-12 col-sm-12 col-md-12 text'>
                        <h2 class='title'> {{advert.title}} </h2>
                        <span class='location'> {{advert_type.name}}  {{city.name}} / {{town.name}} </span>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    {{{{/raw-helper}}}}
</script>


<script id="advert-detail" type="text/x-handlebars-template">
    {{{{raw-helper}}}}

    <div class="hidden-xs col-sm-3 col-md-3 moffset3">
        <img alt='photo' src='{{#image advert.photo 150 150 }} {{/image}}' />
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9">
        <h2> <b>İlan No: #{{advert.id}}</b></h2>
        <h2> {{advert.adress}}</h2>
        <h3> {{advert.typename}} {{advert.city}} / {{advert.town}} </h3>
        <p>Seçtiğiniz ilanın yıl içinde toplam <b> {{advert.total_reserved}} gün rezervasyon</b> bulunmaktadır. </p>
        <p>İlanınız toplam <b> {{advert.total_unavailable}} gün dolu</b> olarak işaretlenmiştir.. </p>
        <p>Dolu olarak işaretlenen tarihler için rezervasyon gerçekleştirilemez.</p>
    </div>


{{{{/raw-helper}}}}
</script>