<div class="hidden-xs col-sm-3 col-md-3 moffset3">
    <img alt='photo' class='photo' src='{{#image image 150 150 }} {{/image}}' />
</div>

<div class="col-xs-12 col-sm-9 col-md-9">
    <h2> <b>İlan No: #{{advert.id}}</b></h2>
    <p> {{advert.adress}}</p>
    <p> {{advert_type.name}} -  {{city.name}} / {{town.name}} </p>
    <p>Seçtiğiniz ilanın yıl içinde toplam <b> {{total_reserved}} gün rezervasyon</b> bulunmaktadır. </p>
    <p>İlanınız toplam <b> {{total_unavailable}} gün dolu</b> olarak işaretlenmiştir.. </p>
    <p>Dolu olarak işaretlenen tarihler için rezervasyon gerçekleştirilemez.</p>
</div>
