<div class='col-xs-3 col-sm-2 col-md-2 photo'>
    <img alt='photo' src='{{#image adverts.photo 150 150 }} {{/image}}' />
</div>
<div class='col-xs-9 col-sm-10 col-md-10 detail'>
    <a href='/user/advert/detail/{{id}}'>
        <div class='col-xs-12 col-sm-12 col-md-12 text'>
            <h2 class='title'> {{adverts.title}} </h2>
            <span class='location'> {{adverts.typename}}  {{adverts.city}} / {{adverts.town}} </span>
        </div>
    </a>
</div>